<a class="btn btn-newItem btn-md" href="#/containers/add" role="button"><b>Add New Container</b></a>

<table class="table table-striped">
    <thead>
    <h3><b>CONTAINERS</b></h3>
    <tr>
        <td>Customer</td>
        <td>Container Status</td>
        <td>Container Number</td>
        <td>Container Type</td>
        <td>Carrier</td>
        <td>Port of Loading</td>
        <td>Date of Loading</td>
        <td>Port of Discharge</td>
        <td>Date of Discharge</td>
        <td>Forwarder Notice</td>
        <td>Customer Notice</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="container in vm.containers">
        <td>{{container.customer.name}}</td>
        <td>{{container.containerStatus}}</td>
        <td>{{container.containerNumber}}</td>
        <td>{{container.containerType}}</td>
        <td>{{container.carrier.name}}</td>
        <td>{{container.portOfLoading.name}}</td>
        <td>{{container.dateOfLoading}}</td>
        <td>{{container.portOfDischarge.name}}</td>
        <td>{{container.dateOfDischarge}}</td>
        <td>{{container.forwarderNotice}}</td>
        <td>{{container.customerNotice}}</td>
        <td>
            <button class="btn btn-deleteItem btn-xs" ng-click="vm.remove(container.id)"><b>Delete</b></button>
            <button class="btn btn-editItem btn-xs" ng-click="vm.edit(container.id)"><b>Edit</b></button>
        </td>
    </tr>
    </tbody>
</table>

<p>
    {{vm.error}}
</p>



