.btn-newItem {
    background-color: black;
    color: green;
}

.btn-deleteItem {
    background-color: black;
    color: red;
}

.btn-editItem {
    background-color: black;
    color: blue;
}

div.ex1 {
    overflow-y: scroll;
}