<form ng-submit="vm.update()">

    <div class="form-group">
        <label for="customer">Customer</label>
        <select id="customer" class="form-control select2-element" ng-model="vm.container.customer"
                ng-options="customer as customer.name for customer in vm.customers track by customer.id">
        </select>
    </div>

    <div class="form-group">
        <label for="containerStatus">Container Status</label>
        <select id="containerStatus" class="form-control select2-element" ng-model="vm.container.containerStatus"
                ng-options="containerStatus as containerStatus for containerStatus in vm.containerStatuses">
        </select>
    </div>

    <div class="form-group">
        <input class="form.control input-lg" placeholder="Container Number" ng-model="vm.container.containerNumber" type="text" />
        <p class="red">{{vm.errors.containerNumber}}</p>
    </div>

    <div class="form-group">
        <label for="containerType">Container Type</label>
        <select id="containerType" class="form-control select2-element" ng-model="vm.container.containerType"
                ng-options="containerType as containerType for containerType in vm.containerTypes">
        </select>
    </div>

    <div class="form-group">
        <label for="carrier">Carrier</label>
        <select id="carrier" class="form-control select2-element" ng-model="vm.container.carrier"
                ng-options="carrier as carrier.name for carrier in vm.carriers track by carrier.id">
        </select>
    </div>

    <div class="form-group">
        <label for="portOfLoading">Port of Loading</label>
        <select id="portOfLoading" class="form-control select2-element" ng-model="vm.container.portOfLoading"
                ng-options="port as port.name for port in vm.ports track by port.id">
        </select>
    </div>

    <div class="form-group">
        <input class="form.control input-lg" placeholder="Date of Loading" ng-model="vm.container.dateOfLoading" type="date" />
        <p class="red">{{vm.errors.dateOfLoading}}</p>
    </div>

    <div class="form-group">
        <label for="portOfDischarge">Port of Discharge</label>
        <select id="portOfDischarge" class="form-control select2-element" ng-model="vm.container.portOfDischarge"
                ng-options="port as port.name for port in vm.ports track by port.id">
        </select>
    </div>

    <div class="form-group">
        <input class="form.control input-lg" placeholder="Date of Discharge" ng-model="vm.container.dateOfDischarge" type="date" />
        <p class="red">{{vm.errors.dateOfDischarge}}</p>
    </div>

    <div class="form-group">
        <label for="comment">Forwarder notices</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="vm.container.forwarderNotice"></textarea>
    </div>

    <div class="form-group">
        <label for="comment2">Customer notices</label>
        <textarea class="form-control" rows="5" id="comment2" ng-model="vm.container.customerNotice"></textarea>
    </div>

    <button class="btn btn-newItem" type="submit">Save</button>


</form>
<script>
    $(document).ready(function() {
        $('.select2-element').select2();
    });
</script>